<header class="site-header wrapper" role="banner">
  <div class="row">
    <hgroup>
      <h1 class="site-title">
        <a href="http://sorpaas.com" rel="home"><%= title %></a>
      </h1>
      <!-- end .site-title -->
    </hgroup>
  </div>
</header>