    {% if site.copyright or site.email %}

      <footer>
        <div class="copyright">
          {% if site.copyright %}<b>{{ site.copyright }}</b> All Rights Reserved.{% endif %}{% if site.email %}<a href="mailto:{{ site.email }}" title="Send E-Mail">Contact</a>{% endif %}
        </div>
      </footer>

    {% endif %}

    <script src="{{ '/assets/jquery-2.1.1.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/viewportchecker.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts.js' | prepend: site.baseurl }}"></script>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//piwik.ns.mg/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//piwik.ns.mg/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>

</html>
