<% include views/include/fonts %>
<% include views/include/css-common %>
<% include views/include/code-prettify %>
<% include views/include/jquery %>

<html>
<head>
  <% include views/common/head-meta-default %>
  
  <title><%= title %></title>
  
  <%- this.helpers.css_load_html %>
</head>
<body class="home blog">
  <div id="page" class="hfeed site"> 
    <% include views/header %>
    <% include views/footer %>
    
    <%- contents %>
  </div>
  <%- this.helpers.js_load_html %>
</body>
</html>
